

<div class="container mt-5 px-4">
<div class="row gx-5">
  <div class="col-md-6 ">
    <h1 class="text-center">Student Details</h1>
    <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)">
      <div class="mb-3">
        <label for="Admission" class="form-label">Admission Number</label>
        <input type="text" class="form-control" name="Admission" placeholder="Admission Number" id="Admission" ngModel>
      </div>
      <div class="mb-3">
        <label for="DateofIssue" class="form-label">Date of Issue</label>
        <input type="text" class="form-control" name="DateofIssue" placeholder="Date of Issue" id="DateofIssue" ngModel>
      </div>
      <div class="mb-3">
        <label for="StudentName" class="form-label">Student Name</label>
        <input type="text" class="form-control" name="StudentName" placeholder="StudentName" id="StudentName" ngModel>
      </div>
      <div class="mb-3">
        <label for="FatherName" class="form-label">Father Name</label>
        <input type="text" class="form-control" name="FatherName" placeholder="FatherName" id="FatherName" ngModel>
      </div>
      <div class="mb-3">
        <label for="Class" class="form-label">Class</label>
        <input type="text" class="form-control" name="Class" placeholder="Class" id="Class" ngModel>
      </div>
      <div class="mb-3">
        <label for="Duration" class="form-label">Duration</label>
        <input type="text" class="form-control" name="Duration" placeholder="Duration" id="Duration" ngModel>
      </div>
      <div class="mb-3">
        <label for="DOB" class="form-label">DOB</label>
        <input type="text" class="form-control" name="DOB" placeholder="DOB" id="DOB" ngModel>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!-- <div class="col-md-6 ">
    <h1 class="text-center">Year - Class Analysis</h1>
    <form #yearClassAnalysis="ngForm" (ngSubmit)="onyearClassSubmit(yearClassAnalysis.value)">
      <div class="row">
        <div class="mb-3 col">
          <label for="Admission" class="form-label">Birth Year</label>
          <input type="text" class="form-control" name="birthyear" placeholder="Birth Year" id="birthyear" ngModel>
        </div>
        <div class="mb-3 col" style="margin-top: 2rem;">
          <button type="submit" class="btn btn-secondary d-flex justify-content-center">Submit YEAR</button>
        </div>
      </div>
    </form>
  </div> -->
</div>
</div>



<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8" id="invoice" #invoice>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center border border-dark rounded border-3 ">
          <h1 class="font-4 text-uppercase fw-bold  font-cam">Annoor Foundation School</h1>
          <h5><u class="font-2 text-uppercase font-cam fw-bold"> STUDY & CONDUCT CERTIFICATE</u></h5>
          <h5 class="font-2 fw-bold font-cam">RAYACHOTY - 516269. A.P</h5>
        </div>
        <div class="d-flex justify-content-between">
          <div class="pt-2" style="margin-top: 50px;">
            <h6 class="font-1 "><u>Admission No. {{AdmissionNumber}}</u></h6>
          </div>
          <div class="pt-2" style="margin-top: 50px;">
            <h6 class="font-1" ><u>Date : {{date}}</u></h6>
          </div>
        </div>
        <div style="margin-top: 3rem;">
          <h6 class="text-justify pt-5 font-2 font-cam" style="line-height: 3rem;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This
            is to certify that {{StudentName|uppercase}} Son/Daughter of {{FatherName|uppercase}} Studied / Studying {{Class}} during the years {{Duration}}, during that
            period his/ her conduct is EXCELLENT / GOOD / SATISFACTORY.
          </h6>
        </div>
        <div class="text-center pt-5">
          <h5 class="font-2 font-cam">Date of birth as per record : {{Date_Birth}}</h5>
          <h5 class="font-2 font-cam">({{Date_Numbers|uppercase}}.)</h5>
        </div>
        <div style="margin-top: 14rem">
          <div class="d-flex justify-content-between">
            <div class="pt-2">
              <h6 class="font-2 font-cam">Date:</h6>
            </div>
            <div class="pt-2">
              <h6 class="font-2 font-cam">Headmaster / Principal</h6>
            </div>
          </div>
          <div>
            <h6 class="font-2 font-cam">Stamp </h6>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center"><button class="btn btn-primary"(click)="generatePDF()">Generate Study Certificate</button>
    </div>
  </div>
</div>
